{% load static %}
{% load i18n %}
<footer class="footer">
  <img src="{% static 'allimages/Fot.png'%}" class="fot" alt="">
  <div class="flexParent gap">
    <div class="flexParent__items itemsLinks footerItems ">

      <h5>{% trans "Вебсайтты иштеп чыккан" %}: <br> {% trans "Академия" %} <span class="it"><a class="it"
            href="https://www.instagram.com/itpark_osh/">It</span><b class="park">Park</b>
        </a>
      </h5>

    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2>{% trans "Навигация" %}</h2>
      <a class="footerItems__links" href="{% url 'index' %}">{% trans "Башкы бет" %}</a>
      <a class="footerItems__links" href="{% url 'all_news' %}">{% trans "Жаңылыктар" %}</a>
      <a class="footerItems__links" href="{% url 'policy' %}">{% trans "Купуялуулук саясаты" %}</a>
      <a class="footerItems__links" href="{% url 'corruption' %}">{% trans "Коррупцияга каршы маалымат" %}</a>
      {% comment %} <a class="footerItems__links" href="#">ПП Ошской области</a> {% endcomment %}
    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2>{% trans "Мамлекет. сайттар" %}</h2>
      {% for link in gos_links %}
        <a class="footerItems__links" target="_blank"  href="{{link.url}}">{{link.name}}</a>
        {% endfor %}
    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2 id="contacts" >{% trans "Байланыштар" %}</h2>
        <p>
          <img style="width:5vmin !important;" src="{% static 'allimages/bildirme.png'%}" alt=""> 
          <a class="footerItems__links" href="mailto:{{links.email}}">Email адрес: <br> {{links.email}}</a>
        </p>
        <div class='d-flex' style="align-items: center;">
          <img style='width: 5vmin; position: static; height:100%;' src="{% static 'allimages/tele.png'%}" alt=""> 
          <div style='margin-left:15px;'>
            
          <a class="footerItems__links" href="tel:{{links.phone1}}"> <br> {{links.phone1}}</a> <br><a class="footerItems__links" href="tel:{{links.phone2}}"> {{links.phone2}}</a>
          </div>
        </div>
        <p>
          <img style="width:5vmin !important;" src="{% static 'allimages/faks.png'%}" alt=""> 
          <a class="footerItems__links" href="tel:{{links.fax}}">Факс: <br>{{links.fax}}</a>
        </p>
    </div>
   
  </div>
  <div class="copyright">{% trans "Бардык укуктар корголгон ©2023" %} </div><a href="https://metrika.yandex.ru/stat/?id=95320704&amp;from=informer"
  target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/95320704/3_1_EFEFEFFF_EFEFEFFF_0_pageviews"
  style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="95320704" data-lang="ru" /></a>
</footer>