<footer class="footer">
    <img src="./allimages/Fooot.png" alt="">
    <div class="flexParent gap">
      <div class="flexParent__items itemsLinks footerItems ">
        <h2>Сайт изготовлен:  <br> Академией <span class="it"><a class="it"
              href="https://www.instagram.com/itpark_osh/">It</span><b class="park">Park</b>
              <!-- <img
            src="./allimages/ItParkLogo.jpg" class="itPark" alt=""> -->
          </a></h2>

      </div>
      <div class="flexParent__items itemsLinks footerItems">
          <h2>Навигация</h2>
          <a class="footerItems__links" href="#">Главная</a>
          <a class="footerItems__links" href="#">Новости</a>
          <a class="footerItems__links" href="#">ПП Ошской области</a>
      </div>
      <div class="flexParent__items itemsLinks footerItems">
        <h2>Сервисы</h2>
        <a class="footerItems__links" href="#">ПП Ошской области</a>
       
        <a class="footerItems__links" href="#">Обратная связь</a>
        <a class="footerItems__links" href="#">О нас</a>
        <a class="footerItems__links" href="#">3d maps</a>
        <a class="footerItems__links" href="#">Stucture design </a>
      </div>
      <div class="flexParent__items itemsLinks footerItems">
       <h2>Гос. сайты</h2>
       <a class="footerItems__links" href="https://www.gov.kg/ky">gov.kg/</a>
       <a class="footerItems__links" href="https://portal.tunduk.kg/">portal.tunduk.kg</a>
       <a class="footerItems__links" href="http://www.kattar.kg/kg/">kattar.kg</a>

      </div>
    </div>
    <div class="copyright">Все права защищены ©2023</div>
  </footer>
