{% load static %}
<footer class="footer">
  <img src="{% static 'allimages/Fot.png'%}" class="fot" alt="">
  <div class="flexParent gap">
    <div class="flexParent__items itemsLinks footerItems ">

      <h5>Сайт разработан: <br> Академией <span class="it"><a class="it"
            href="https://www.instagram.com/itpark_osh/">It</span><b class="park">Park</b>
        </a>
      </h5>

    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2>Навигация</h2>
      <a class="footerItems__links" href="#">Главная</a>
      <a class="footerItems__links" href="#">Новости</a>
      <a class="footerItems__links" href="#">ПП Ошской области</a>
    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2>Гос. сайты</h2>
      <a class="footerItems__links" target="_blank"  href="https://www.gov.kg/ky">gov.kg</a>
      <a class="footerItems__links"  target="_blank" href="https://portal.tunduk.kg/">portal.tunduk.kg</a>
      <a class="footerItems__links" target="_blank"  href="http://www.kattar.kg/kg/">kattar.kg</a>
    </div>
    <div class="flexParent__items itemsLinks footerItems">
      <h2 id="contacts" >Контакты</h2>
        <p>
          <img src="{% static 'allimages/bildirme.png'%}" alt=""> 
          <a class="footerItems__links" href="mailto:info@kpc.kg">Email адрес: <br> info@kpc.kg</a>
        </p>
        <p>
          <img src="{% static 'allimages/tele.png'%}" alt=""> 
          <a class="footerItems__links" href="tel:+996 (3722) 5-55-05">Телефон <br> +996 (3722) 5-55-05 <br> +996 (3722) 5-77-12</a>
        </p>
        <p>
          <img src="{% static 'allimages/faks.png'%}" alt=""> 
          <a class="footerItems__links" href="tel:+996 (3722) 5-22-15">Факс: <br>+996 (3722) 5-22-15.</a>
        </p>
    </div>
   
  </div>
  <div class="copyright">Все права защищены ©2023</div>
</footer>