{% load static %}
<header class="header">
  <nav class="header__menu">
    <div id="pagelinkBtn">
      <a href="#">АППП КР Ош обл.</a>
      <img src="{% static 'allimages/Vector.png'%}" alt="vector">
      <div class="fixedNav">
        <a href="#">Ош<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Алай<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Араван<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Кара-Кулжа<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Кара-Суу<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Ноокат<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Узген<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        <a href="#">Чон-Алай<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
      </div>
    </div>
    <a href="{% url 'index' %}" class="header__menu-links adaps">Главная</a>
    <a href="{% url 'all_news' %}" class="header__menu-links adaps">Новости</a>
    <div href="" class="header__menu-links adaps" id="app">Аппарат
      <img src="{% static 'allimages/Vector fff.png'%}" alt="">
      <div class="apparat">
        <a href="{% url 'main_info' %}">Основная информация</a>
        <a href="{% url 'managment' %}">Руководство</a>
        <a href="{% url 'structs' %}">Структура</a>
        <a href="{% url 'maps' %}">Карты</a>
      </div>
    </div>

    <div href="#" clss="header__menu-links adaps" id="oso" >

      Обращение граждан
      <img src="{% static 'allimages/Vector fff.png'%}" alt="">
      <div class="apparat2">
          <a href="https://portal.tunduk.kg/site/introd_page">Для авторизованных</a>
          <a href="https://portal.tunduk.kg/public_services/new_message_sed">Для неавторизованных</a>
      </div>
    </div >
    <a href="" class="header__menu-links adaps">Для туристов</a>
    <a href="#contacts" class="header__menu-links adaps">Контакты</a>
    <form action="{% url 'search' %}">
      <div class="header__menu-search gl">
        <img src="{% static 'allimages/liupa.png'%}" alt="">
        <input name="search_key" type="text">
      </div>
    </form>
  </nav>
  <nav class="header__menu socials">
    <img src="{% static 'allimages/instagtam.png'%}" alt="">
    <img src="{% static 'allimages/faceBook.png'%}" alt="">
    <img src="{% static 'allimages/TikTok.png'%}" alt="">
    <span class="socials__span">
      <img src="{% static 'allimages/RU - Russian Federation.png'%}" alt="">
      <img src="{% static 'allimages/Vector fff.png'%}" class="vector" alt="">
    </span>
  </nav>
  <button class="burger__btn" id="burger">
    <span class="one"></span><span class="two"></span><span class="three"></span>
</button>
</header>
<div class="burgerMenu">
  <a href="{% url 'index' %}" class="header__menu-links">Главная</a>
  <a href="{% url 'all_news' %}" class="header__menu-links">Новости</a>
  <div href="" class="accordionbek" id="app">
      <div class="accordion-itembek">
        <div class="accordion-headerbek">Аппарат <img src="{% static 'allimages/Vector fff.png'%}" alt=""></div>
        <div class="accordion-contentbek">
            <a href="{% url 'main_info' %}">Основная информация</a>
            <a href="{% url 'managment' %}">Руководство</a>
            <a href="{% url 'structs' %}">Структура</a>
            <a href="{% url 'maps' %}">Карты</a>
       
        </div>
      </div>
    
  </div>
  <div href="" class="accordionbek" id="app">
    <div class="accordion-itembek">
      <div class="accordion-headerbek">Обращение граждан<img src="{% static 'allimages/Vector fff.png'%}" alt=""></div>
      <div class="accordion-contentbek">
          <a href="https://portal.tunduk.kg/site/introd_page">Для авторизованных</a>
          <a href="https://portal.tunduk.kg/public_services/new_message_sed">Для неавторизованных</a>       
      </div>
    </div>
</div>
    
    <a href="" class="header__menu-links">Для туристов</a>
    <a href="#contacts" class="header__menu-links">Контакты</a>
    <nav class="header__menu socials socials_b">
      <img src="{% static 'allimages/instagtam.png'%}" alt="">
      <img src="{% static 'allimages/faceBook.png'%}" alt="">
      <img src="{% static 'allimages/TikTok.png'%}" alt="">
      <span class="socials__span">
        <img src="{% static 'allimages/RU - Russian Federation.png'%}" alt="">
        <img src="{% static 'allimages/Vector fff.png'%}" class="vector" alt="">
      </span>
    </nav>

</div>