{% load static %}
<header class="header">
    <nav class="header__menu">
      <div id="pagelinkBtn">
        <a href="#">АППП КР Ош обл.</a>
        <img src="{% static 'allimages/Vector.png'%}" alt="vector">
        <div class="fixedNav">
          <a href="#">Ош<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Алай<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Араван<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Кара-Кулжа<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Кара-Суу<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Ноокат<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Узген<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
          <a href="#">Чон-Алай<img src="{% static 'allimages/Vector.png'%}" alt=""></a>
        </div>
      </div>
      <a href="" class="header__menu-links">Главная</a>
      <a href="" class="header__menu-links">Новости</a>
      <a href="" class="header__menu-links">Аппарат <img src="{% static 'allimages/Vector fff.png'%}" alt=""> </a>
      <a href="" clss="header__menu-links " id="oso">Обращение граждан <img src="{% static 'allimages/Vector fff.png'%}" alt="">
      </a>
      <a href="" class="header__menu-links">Для туристов</a>
      <a href="" class="header__menu-links">Контакты</a>
      <div class="header__menu-search">
        <img src="{% static 'allimages/liupa.png'%}" alt="">
        <input type="text">
      </div>
    </nav>
    <nav class="header__menu socials">
      <img src="{% static 'allimages/instagtam.png'%}" alt="">
      <img src="{% static 'allimages/faceBook.png'%}" alt="">
      <img src="{% static 'allimages/TikTok.png'%}" alt="">
      <span class="socials__span">
        <img src="{% static 'allimages/RU - Russian Federation.png'%}" alt="">
        <img src="{% static 'allimages/Vector fff.png'%}" class="vector" alt="">
      </span>
    </nav>

  </header>