{% extends 'homepage.html' %}
{% load static %}
{% block content %}
  {% include 'includes/header.html' %}
  <div class="containerr">
        <div class="container__inner pt50">
            <div class="flexParent">
                {% for news in news %}
                <div class="flexParent__items">
                    <img src="{{news.image.url}}" alt="">
                    <div class="flexParent__items-bottom">
                      <span>
                        <b class="datesBlue">{{news.created|date:"d"}}</b>
                        <p>{{news.created|date:"F"}}</p>
                        <p>{{news.created|date:"Y"}}</p>
                      </span>
                      <a href="{% url 'news_detail' news.id %}" class="flexParent__items-bottom-desc">{{news.title}}</a>
                    </div>
                  </div>
                  {% endfor %}
              </div>
        </div>
    </div>
{% include 'includes/footer.html' %}


{% endblock content %}