{% extends 'homepage.html' %}
{% load static %}
{% load i18n %}
 
{% block content %}
  {% include 'includes/header.html' %}
    <div class="containerr">
        <div class="container__inner">

            <div class="newsTitile">
                <div class="newsTitile__date">
                    <h2>{{news.created|date:"d"}}</h2>
                    <h3>{{news.created|date:"F"}}</h3>
                    <h3>{{news.created|date:"Y"}}</h3>
                </div>
                <span></span>
                <h4>{{news.title}}</h4>
            </div>
            <div class="news_slider">
                <img class="newsTitile-image" src="{{news.image.url}}" alt="">
                {% for media in news.media.all %}
                    <img class="newsTitile-image" src="{{media.image.url}}" alt="">
                {% endfor %}
            </div>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'ru' %}
            <p class="newsDesc" >{{news.description_ru|safe}}</p>
            {% else %}
            <p class="newsDesc" >{{news.description|safe}}</p>
            {% endif %}
        </div>
    </div>


    {% include 'includes/footer.html' %}


    {% endblock content %}