{% extends 'homepage.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  {% include 'includes/header.html' %}
  <div class="containerr">
    <div class="container__inner">
        <div class="manager">
          <div class="name">
            <h1>{{manager.job_title}}</h1>
          </div>
          <div class="descr">
            <img src="{{manager.image.url}}" alt="">
            <div>
              <h2>{{manager.full_name}}</h2>
              {% get_current_language as LANGUAGE_CODE %}
              {% if LANGUAGE_CODE == 'ru' %}
              {{manager.resume_ru|safe}}
              {% else %}
              {{manager.resume|safe}}
              {% endif %}
            </div>
          </div>
        </div>

    </div>
  </div>
  {% include 'includes/footer.html' %}


  {% endblock content %}