{% extends 'homepage.html' %}
{% load static %}
{% block content %}
  {% include 'includes/header.html' %}
  <div class="containerr">
    <div class="container__inner">

        <div class="flexParent rukovod">
          {% for team in team %}
            <div class="flexParent__items footerItems rukovod__items ">
                <img src="{{team.image.url}}" alt="">
                <h3><a href="{% url 'managment_detail' team.full_name %}">{{team.full_name}}</a></h3>
                <b>{{team.job_title}}</b>
                
                <a href="tel:{{team.phone}}"><img src="{% static 'allimages/iconph.png'%}" alt="">{{team.phone}}</a>

            </div>
            {% endfor %}
        </div>


    </div>
  </div>
  {% include 'includes/footer.html' %}


  {% endblock content %}