{% extends 'homepage.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  {% include 'includes/header.html' %}
  <div class="containerr">
        <div class="container__inner pt50">
          <h2 class="titles search_text">{% trans "Жаңылыктар" %}</h2>
            <div class="flexParent">
                {% for news in news %}
                <div class="flexParent__items">
                    <img src="{{news.image.url}}" alt="">
                    <div class="flexParent__items-bottom">
                      <span>
                        <b class="datesBlue">{{news.created|date:"d"}}</b>
                        <p>{{news.created|date:"F"}}</p>
                        <p>{{news.created|date:"Y"}}</p>
                      </span>
                      <a href="{% url 'news_detail' news.id %}" class="flexParent__items-bottom-desc">{{news.title}}</a>
                    </div>
                  </div>
                  {% endfor %}
              </div>
              <h2 class="titles search_text">{% trans "Жетекчилик" %}</h2>
              <div class="flexParent rukovod" style="margin-top:0!important;">
                {% for team in team %}
                  <div class="flexParent__items footerItems rukovod__items ">
                      <img src="{{team.image.url}}" alt="">
                      <h3><a href="{% url 'managment_detail' team.full_name %}">{{team.full_name}}</a></h3>
                      <b>{{team.job_title}}</b>
                      
                      <a href="tel:{{team.phone}}"><img src="{% static 'allimages/iconph.png'%}" alt="">{{team.phone}}</a>
      
                  </div>
                  {% endfor %}
              </div>
        </div>
    </div>
{% include 'includes/footer.html' %}


{% endblock content %}