{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% load i18n %}
  {% include 'includes/header.html' %}
  <div class="banner" style="background-image:url('{{images.main_image.url}}')!important;"></div>

  <div class="containerr">
    <div class="container__inner">
        <h1 class="titles" >- {% trans "Коррупцияга каршы маалымат" %}</h1>
          <div>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'ru' %}
            {{state_symbols_text.text_ru|safe}}
            {% else %}
            {{state_symbols_text.text|safe}}
            {% endif %}
          </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}


  {% endblock content %}