{% extends 'homepage.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  {% include 'includes/header.html' %}

  <div class="banner"></div>

  <div class="containerr">
    <div class="container__inner">
        <h1 class="titles" >- {% trans "Структура" %}</h1>
            <div class="strParent">
              {% for struct in struct %}
                <div class="strParent__items">
                    <img src="{% static 'allimages/oshGern.png'%}" alt="">
                    <span></span>
                    <h4>{{struct.name}} <br> <a href="tel:{{struct.phone}}">{{struct.phone}}</a></h4>
                </div>
                {% endfor %}
            </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}


  {% endblock content %}