* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

a {
  font-size: calc((1vh + 1vw) * 0.6);
  color: inherit;
  text-decoration: none !important;
}

.img_none {
  display: none;
}

.img_gray {
  filter: grayscale(1);
}

.lang_button {
  border: 0;
  width: calc((20vh + 15vw) * 0.08);
  height: calc((15vh + 10vw) * 0.08);
  outline: none;
}

.lang_button img {
  width: 100% !important;
  height: 100% !important;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-adilet {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: -30px;
  right: 0px;
  font-size: 66px;
  z-index: 2;
  cursor: pointer;
  color: #000;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

.slick-list {
  width: 80%;
  margin: 0 15px !important;
}

.news_slider {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.slick-arrow {
  font-size: 0;
  width: 36px;
  height: 60px;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-disabled {
  opacity: 0.1;
  transition: all 0.5s;
}

.slick-disabled:hover {
  opacity: 0.1;
  cursor: not-allowed !important;
}

.slick-next {
  background-image: url("../allimages/Vector-r.png");
}

.slick-prev {
  background-image: url("../allimages/Vector-l.png");
}

.slider_title_text {
  font-size: calc((1vh + 4vw) * 0.8) !important;
}

.flexParent__items-bottom-desc {
  font-size: calc((1vh + 2.3vw) * 0.8) !important;
}

body {
  background-color: #fdfeff !important;
}

.slider__item {
  width: 200px;
  height: 200px;
  margin: 10px;
  flex: 0 0 auto;
  scroll-snap-align: center;
  cursor: grab;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  overflow-x: scroll;
  margin: 2vmin auto;
  max-width: 92.3%;
  margin-left: 3% !important;
}

a {
  font-size: calc((1vh + 1vw) * 0.6);
}

.gl {
  width: 90% !important;
}
.gl > img {
  margin-bottom: 2%;
}

.header {
  height: 8.6vmin;
  padding: 10px calc((10vh + 10vw) / 10);
  width: 98%;
  position: fixed;
  left: 1%;
  z-index: 10;
  top: 1%;
  background-color: rgba(16, 16, 16, 0.5450980392);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 1vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header__menu {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2px;
  height: 100%;
}
.header__menu #pagelinkBtn {
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  border: solid 1px #538FFC;
  border-radius: 5px;
  padding: 1.3vmin 2.8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
}
.header__menu #pagelinkBtn:focus {
  border: solid 1px #538FFC;
  color: #538FFC;
}
.header__menu #pagelinkBtn a {
  text-decoration: none;
  color: #538FFC;
}
.header__menu #pagelinkBtn img {
  width: 10px;
  height: 6px;
}
.header__menu-links {
  border-radius: 7px;
  padding: 1% 2vmin;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  color: #fff;
  transition: all 0.7s;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0);
}
.header__menu-links:after {
  position: absolute;
  transition: 0.8s;
  content: "";
  display: block;
  width: 24px;
  transform: skew(-36deg) translateX(-190px);
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1294117647);
}
.header__menu-links:hover::after {
  transform: skew(-36deg) translateX(170px);
}
.header__menu-links:hover {
  border: solid 1px #538FFC;
  color: #538FFC;
}
.header__menu-links:focus {
  border: solid 1px #538FFC;
  color: #538FFC;
}
.header__menu-links img {
  width: 10px;
  height: 6px;
}
.header__menu-search {
  margin-left: 11px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-bottom: solid 1px #fff;
  height: 60%;
  gap: 0.5vw;
}
.header__menu-search img {
  width: calc((10vh + 10vw) * 0.07);
  height: calc((10vh + 10vw) * 0.08);
  -o-object-fit: contain;
     object-fit: contain;
}
.header__menu-search input {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  background-color: transparent;
  color: #fff;
}
.header .socials {
  gap: calc((10vh + 10vw) / 12);
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
.header .socials img {
  width: calc((10vh + 10vw) * 0.08);
  height: calc((10vh + 10vw) * 0.08);
}
.header .socials__span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .socials__span .vector {
  width: 10px !important;
  height: 7px !important;
}

#app {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: calc((1vh + 1vw) * 0.66);
  overflow: visible;
}
#app::after {
  display: none;
  top: 0;
  position: absolute;
}

#app2 {
  cursor: pointer;
  position: relative;
  display: block;
  font-size: calc((1vh + 1vw) * 0.66);
  overflow: visible;
}
#app2::after {
  display: none;
  top: 0;
  position: absolute;
}

.apparat {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  left: 0;
  top: 8vmin;
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
  justify-content: space-between;
}
.apparat > a {
  font-size: calc(1vh + 1vw);
  margin: 3px 0;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1607843137);
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}
.apparat > a:hover {
  color: #538FFC;
}

.apparat__acitve {
  display: flex;
}

.apparat2__active {
  display: flex !important;
}

.banner {
  height: 50vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../allimages/Banner.png);
}

.fixedNav {
  box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.2784313725);
  display: none;
  position: fixed;
  width: 40vmin;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.8vmin;
  background-color: #fafafa;
  padding: 16px 16px;
  top: 11.3vmin;
  left: 1.6%;
  border-radius: 8px;
  transition: 0.5s all;
  z-index: 20;
  opacity: 0;
}
.fixedNav a {
  font-weight: 600;
  color: #000 !important;
  padding: 10px 16px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  transition: all 0.6s;
  align-items: center;
  border: solid 1px rgba(192, 192, 192, 0.431372549);
  box-shadow: 0px 0px 5px rgba(192, 192, 192, 0.431372549);
  letter-spacing: 0.4px;
}
.fixedNav a:hover {
  color: #538FFC !important;
  background-color: #f4f4f4;
}
.fixedNav a:hover img {
  opacity: 1;
}
.fixedNav a img {
  opacity: 0;
  transition: all 0.6s;
}

.fixedNav__avtive {
  opacity: 1 !important;
  display: flex;
  animation: fixedNav 1s ease;
}
@keyframes fixedNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#oso {
  cursor: pointer;
  border-radius: 7px;
  padding: 1% 2vmin;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  color: #fff;
  transition: all 0.7s;
  border-radius: 6px;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0);
}
#oso:hover {
  border: solid 1px #538FFC;
  color: #538FFC;
}
#oso img {
  width: 10px;
  height: 6px;
}

.apparat2 {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  left: 0;
  top: 7.7vmin;
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
  justify-content: space-between;
}
.apparat2 > a {
  font-size: calc(1vh + 1vw);
  margin: 3px 0;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1607843137);
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}
.apparat2 > a:hover {
  color: #538FFC;
}

#oso_burger {
  border-radius: 7px;
  padding: 1% 2vmin;
  text-align: left !important;
  white-space: nowrap;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  color: #fff;
  transition: all 0.7s;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0);
}
#oso_burger:after {
  position: absolute;
  transition: 0.8s;
  content: "";
  display: block;
  width: 24px;
  transform: skew(-36deg) translateX(-190px);
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1294117647);
}
#oso_burger:hover::after {
  transform: skew(-36deg) translateX(170px);
}
#oso_burger:hover {
  border: solid 1px #538FFC;
  color: #538FFC;
}
#oso_burger:focus {
  border: solid 1px #538FFC;
  color: #538FFC;
}
#oso_burger img {
  width: 10px;
  height: 6px;
}

.burgerMenu {
  top: 0;
  transition: all 0.3s;
  transform: translateX(-110%);
  height: 100vh;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5058823529);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: fixed;
  z-index: 11;
  padding: 10% 5% 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2vmin;
}
.burgerMenu > a {
  text-align: left !important;
  width: 70%;
  display: block;
  position: relative;
  width: 100%;
}
.burgerMenu > a:after {
  position: absolute;
  transition: 0.8s;
  content: "";
  display: block;
  top: 0;
  width: 24px;
  transform: skew(-36deg) translateX(-190px);
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1294117647);
}
.burgerMenu > a:hover::after {
  transform: skew(-36deg) translateX(270px);
}

.burgerMenu__active {
  transform: translateX(0%);
}

.burger__btn {
  display: none;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  gap: 5px;
}
.burger__btn > span {
  position: absolute;
  transition: 0.5s all;
  width: 25px;
  height: 1.5px;
  border-radius: 5px;
  background-color: #fff;
  display: block;
}
.burger__btn .one {
  transform: translateY(-5px);
}
.burger__btn .three {
  transform: translateY(5px);
}
.burger__btn .top_span {
  transform: rotate(45deg);
}
.burger__btn .m_span {
  opacity: 0;
}
.burger__btn .b_span {
  transform: rotate(-45deg);
}

.accordionbek {
  width: 100%;
}

.accordion-itembek {
  margin-bottom: 5px;
}

.accordion-headerbek {
  padding: 1% 2vmin;
  color: #fff;
  background-color: transparent !important;
  transition: all 0.7s;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0);
  cursor: pointer;
}
.accordion-headerbek:after {
  position: absolute;
  transition: 0.8s;
  content: "";
  display: block;
  width: 24px;
  transform: skew(-36deg) translateX(-190px);
  height: 100%;
  background-color: rgba(250, 250, 250, 0.1294117647);
}
.accordion-headerbek:hover::after {
  transform: skew(-36deg) translateX(170px);
}
.accordion-headerbek:hover {
  border: solid 1px #538FFC;
  color: #538FFC;
}
.accordion-headerbek > img {
  margin-left: 10px;
  width: 10px;
  height: 7px;
}

.accordion-contentbek {
  padding: 1% 2vmin;
  transition: all 0.5s;
  display: none;
  color: #fff;
}
.accordion-contentbek > a {
  display: block;
  margin: 2vmin;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}
.accordion-contentbek > a:hover {
  color: #538FFC;
}

@media (max-width: 955px) {
  a {
    font-size: calc((1vh + 1vw) * 0.86) !important;
  }
  .accordion-headerbek {
    font-size: calc((1vh + 1vw) * 0.86) !important;
  }
  .adaps {
    display: none !important;
  }
  #oso {
    display: none;
  }
  .burger__btn {
    display: block;
  }
}
.socials_b {
  margin-top: 30px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: flex;
}
.socials_b > img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.socials_b > span {
  margin-left: 10px;
  width: 100%;
  justify-content: center;
}
.socials_b > span .vector {
  width: 10px;
  height: 6px;
}
.socials_b > span > img {
  width: 20px;
  height: 16px;
}

.containerr {
  width: 80%;
  margin: 0 auto;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.titles {
  z-index: -3;
  margin: 4vmin;
  font-weight: 500;
  position: relative;
  font-size: calc((1vh + 1vw) * 1.3);
}

.titles::before {
  content: "";
  display: block;
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  left: -25%;
  top: -27vmin;
  border-radius: 100%;
  z-index: -2;
  background-color: rgba(83, 207, 252, 0.1411764706);
  box-shadow: inset 0px 0px 45px 34px #fff;
}

.carousel-control-next-icon {
  filter: invert(1);
  height: 60px !important;
  width: 30px !important;
  background-size: cover !important;
}

.carousel-control-prev-icon {
  filter: invert(1);
  height: 60px !important;
  width: 30px !important;
  background-size: cover !important;
}

.contentSlider__items {
  width: calc(100% - 150px) !important;
  margin: 0 auto;
}

.borderBtn.active {
  height: 5px !important;
  margin: -1px auto 0;
  border-radius: 50px !important;
}

.carousel-indicators [data-bs-target] {
  border-bottom: none !important;
  border-top: none !important;
}

.contentSlider {
  width: 100%;
  height: 87 vmin;
  padding: 0 12vmin 6vmin 12vmin;
}
.contentSlider__items {
  width: 100%;
  height: 100%;
}
.contentSlider__items-top {
  width: 100%;
  height: 83% !important;
  padding: 4px 0;
  display: flex;
  gap: 2vmin;
}
.contentSlider__items-top .items-big {
  border-radius: 7px;
  width: 100%;
  background-color: transparent;
  -o-object-fit: contain;
     object-fit: contain;
  height: 60vmin !important;
}
.contentSlider__items-top .items-small {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}
.contentSlider__items-top .items-small > img {
  border-radius: 5px;
  width: 100%;
  height: 48.6%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.contentSlider__items-bottom {
  width: 100%;
  height: 10%;
  padding: 4px 0;
  font-size: calc((1vh + 1vw) * 0.8);
}
.contentSlider__items-date {
  color: #888888;
  font-size: calc((1vh + 1vw) * 1);
}

.datesBlue {
  color: #538FFC !important;
}

.borderBtn {
  background-color: #538FFC !important;
}

.active {
  border-radius: 3px !important;
}

.sliderrr {
  z-index: 1 !important;
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  max-width: 100%;
}
.flexParent__items {
  width: 322px;
  height: 307px;
}
.flexParent__items > img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.flexParent__items-bottom {
  margin-top: 15px;
  height: 30%;
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.flexParent__items-bottom > span {
  display: flex;
  width: 15%;
  align-items: center;
  gap: 10px;
}
.flexParent__items-bottom > span > p {
  margin: 0 !important;
  color: #888888;
}
.flexParent__items-bottom-desc {
  font-weight: 600;
  margin: 0 !important;
  line-height: 14px;
  transition: 0.4s;
}
.flexParent__items-bottom-desc:hover {
  color: #538FFC;
}

.lastItems {
  width: calc((10vh + 10vw) * 3);
  height: calc((10vh + 10vw) * 1.8);
}
.lastItems > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.itemsLinks {
  text-align: left !important;
  width: 250px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding-left: 10px;
  border-left: 0.1px solid #538FFC;
}
.itemsLinks > h2 {
  white-space: inherit;
  font-size: calc((1vh + 1vw) * 0.9);
}
.itemsLinks__linksBase {
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.itemsLinks__linksBase > img {
  margin-right: 7px;
  width: calc((10vh + 10vw) * 0.15);
}
.itemsLinks__linksBase:hover {
  text-decoration: underline;
}

.manager {
  margin: 0 5vmin;
  margin-top: 15vmin;
}
.manager > .name > h1 {
  text-align: center;
}

.search_text {
  text-align: center;
  margin-bottom: 2vmin !important;
  margin-top: 15vmin;
}

.rukovod {
  margin-top: 15vmin;
}
.rukovod__items {
  border: solid 1px rgba(0, 0, 0, 0.0980392157);
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.0980392157);
  border-radius: 10px;
  padding: 2vmin;
  transition: all 0.5s;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.rukovod__items:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.0980392157);
}
.rukovod__items h3 > a {
  font-size: calc((1vh + 1vw) * 1.2) !important;
  margin-top: 7px;
  text-transform: capitalize;
}
.rukovod__items > b {
  color: #538FFC;
  font-size: calc((1vh + 1vw) * 0.7);
}
.rukovod__items > a {
  font-size: calc((1vh + 1vw) * 0.6);
  margin-top: 6px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
  color: #000;
}
.rukovod__items > a > img {
  width: calc((1vh + 1vw) * 1);
}

.strParent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.strParent__items {
  height: 170px;
  width: 48%;
  min-width: 300px;
  border-radius: 12px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1137254902);
  padding: 1.5%;
  display: flex;
  gap: 2vmin;
  align-items: center;
  transition: 0.6s all;
}
.strParent__items:hover {
  box-shadow: 0px 0px 44px rgba(121, 163, 242, 0.662745098);
}
.strParent__items > img {
  height: 100%;
}
.strParent__items > span {
  width: 1px;
  height: 80%;
  background-color: #000;
}
.strParent__items h4 {
  font-size: calc((1vh + 1vw) * 1);
}
.strParent__items h4 > a {
  color: rgba(0, 0, 0, 0.4588235294);
  text-decoration: none;
  font-weight: 800;
  font-size: calc((1vh + 1vw) * 0.8) !important;
}

#serach {
  padding: 0 !important;
}

.choon {
  width: calc((10vh + 10vw) * 0.23) !important;
}

.footer {
  position: relative;
  background-color: #f8faff;
  box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.0823529412);
  margin-top: 5%;
  padding: 5vmin 0 0;
}
.footer .fot {
  position: absolute;
  height: 16vmax;
  top: 0;
  left: 6%;
}
.footer .footerItems {
  padding: 0 !important;
  position: relative;
  border: none !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.8vmin;
}
.footer .footerItems > h5 {
  margin-top: 15px;
  font-size: calc((1vh + 1vw) * 0.7);
}
.footer .footerItems > p {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footerItems > p > img {
  position: static;
  width: 5vmin;
}
.footer .footerItems__links {
  color: #000;
  text-decoration: none;
}
.footer .footerItems__links:hover {
  text-decoration: underline;
}

.newsTitile {
  position: relative;
  width: 85%;
  margin: 15vmin auto 3vmin auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.newsTitile__date {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.newsTitile__date > h2 {
  color: #538FFC;
  margin: 0;
  font-weight: 600;
  font-size: calc((1vh + 1vw) * 1);
}
.newsTitile__date > h3 {
  color: #888888;
  margin: 0;
  font-size: calc((1vh + 1vw) * 1);
}
.newsTitile > span {
  display: block;
  height: calc((1vh + 1vw) * 1);
  width: 2px;
  background-color: #000;
}
.newsTitile > h4 {
  font-size: calc((1vh + 1vw) * 1);
  margin: 0;
  word-break: break-all;
}

.newsDesc {
  font-size: calc((1vh + 1vw) * 0.8);
  padding: 0 50px;
}
.newsDesc > p {
  font-size: calc((1vh + 1vw) * 1.4) !important;
  word-break: break-all;
}

.maps {
  width: 100%;
  height: 90vmin;
}

.slick-slider {
  display: flex;
}

.newsTitile-image {
  width: 100%;
  height: 55vmin !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.itPark {
  width: 50% !important;
  position: static !important;
  text-decoration: none !important;
}

.it {
  text-decoration: none !important;
  font-size: calc((1vh + 1vw) * 0.9) !important;
  font-weight: 900;
  color: #fafafa;
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.8235294118);
}

.park {
  color: rgb(255, 234, 0);
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.8235294118);
}

.copyright {
  text-align: center;
  border-top: solid 2px rgba(192, 192, 192, 0.7);
  padding: 2vmin;
  margin-top: 2%;
  background-color: #fff;
  font-size: calc((1vh + 1vw) * 0.6);
}

.gap {
  gap: 1vmin !important;
}

.pt50 {
  margin-top: 11%;
}

@media (min-width: 2453px) and (max-width: 3000px) {
  .flexParent__items {
    width: 622px;
    height: 607px;
  }
  .flexParent__items-bottom > span b {
    font-size: 2em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.6em;
  }
  .flexParent__items-bottom-desc {
    font-size: 2em;
    line-height: 30px;
  }
  .itemsLinks {
    width: 355px !important;
  }
  .itemsLinks > h2 {
    font-size: 2.5em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.7em;
    line-height: 36px;
    white-space: wrap;
  }
  .gap {
    gap: 100px !important;
  }
}
@media (min-width: 2265px) and (max-width: 2453px) {
  .flexParent__items {
    width: 572px;
    height: 567px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.9em;
    line-height: 30px;
  }
  .itemsLinks {
    width: 350px !important;
  }
  .itemsLinks__linksBase {
    line-height: 36px;
  }
  .gap {
    gap: 90px !important;
  }
}
@media (min-width: 2117px) and (max-width: 2265px) {
  .flexParent__items {
    width: 532px;
    height: 527px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.6em;
    line-height: 30px;
  }
  .itemsLinks {
    width: 350px !important;
  }
  .itemsLinks__linksBase {
    line-height: 30px;
  }
  .gap {
    gap: 90px !important;
  }
}
@media (min-width: 2000px) and (max-width: 2117px) {
  .flexParent__items {
    width: 502px;
    height: 497px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.4em;
    line-height: 30px;
  }
  .itemsLinks {
    width: 320px !important;
  }
  .itemsLinks__linksBase {
    line-height: 28px;
  }
  .gap {
    gap: 70px !important;
  }
}
@media (min-width: 1883px) and (max-width: 2000px) {
  .flexParent__items {
    width: 472px;
    height: 467px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.4em;
    line-height: 24px;
  }
  .itemsLinks {
    width: 290px !important;
  }
  .itemsLinks > h2 {
    font-size: 2.2em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.6em !important;
    line-height: 28px;
  }
  .gap {
    gap: 50px !important;
  }
}
@media (min-width: 1787px) and (max-width: 1883px) {
  .flexParent__items {
    width: 432px;
    height: 427px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.3em;
    line-height: 30px;
    line-height: 22px;
  }
  .itemsLinks {
    width: 270px !important;
  }
  .itemsLinks > h2 {
    font-size: 2em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.6em !important;
    line-height: 25px;
  }
  .gap {
    gap: 60px !important;
  }
}
@media (min-width: 1687px) and (max-width: 1787px) {
  .flexParent__items {
    width: 402px;
    height: 397px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.2em;
    line-height: 20px !important;
  }
  .itemsLinks {
    width: 240px !important;
  }
  .itemsLinks > h2 {
    font-size: 1.8em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.3em !important;
    line-height: 25px;
  }
  .gap {
    gap: 50px !important;
  }
}
@media (min-width: 1587px) and (max-width: 1687px) {
  .flexParent__items {
    width: 372px;
    height: 367px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    line-height: 24px;
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1.1em;
    line-height: 22px;
  }
  .itemsLinks {
    width: 210px !important;
  }
  .itemsLinks > h2 {
    font-size: 1.6em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.1em !important;
    line-height: 22px;
  }
  .gap {
    gap: 44px !important;
  }
}
@media (min-width: 1500px) and (max-width: 1587px) {
  .flexParent__items {
    width: 342px;
    height: 337px;
  }
  .flexParent__items-bottom > span b {
    font-size: 1.6em;
  }
  .flexParent__items-bottom > span p {
    line-height: 24px;
    font-size: 1.4em;
  }
  .flexParent__items-bottom-desc {
    font-size: 1em;
    line-height: 19px;
  }
  .itemsLinks {
    width: 210px !important;
  }
  .itemsLinks > h2 {
    font-size: 1.6em !important;
  }
  .itemsLinks__linksBase {
    font-size: 1.1em !important;
    line-height: 22px;
  }
  .gap {
    gap: 44px !important;
  }
}
@media (max-width: 1500px) {
  .containerr {
    width: 1270px;
  }
  .socials {
    display: none;
  }
}
@media (max-width: 1276px) {
  .strParent__items {
    height: 165px !important;
  }
  .containerr {
    width: 1100px;
  }
  .flexParent__items {
    width: 299px;
    height: 289px;
  }
  .itemsLinks {
    width: 230px;
  }
}
@media (max-width: 1100px) {
  .strParent__items {
    height: 160px !important;
  }
  .containerr {
    width: 890px;
  }
  .flexParent {
    gap: 30px;
  }
  .flexParent__items-bottom-desc {
    font-size: 0.8em;
    line-height: 12px;
  }
  .flexParent__items {
    width: 247px;
    height: 237px;
  }
  .itemsLinks {
    width: 199px;
  }
  .itemsLinks__linksBase {
    white-space: wrap;
    font-size: 0.8em;
  }
  .contentSlider__items {
    width: calc(100% - 100px) !important;
    margin: 0 auto;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px !important;
    height: 40px !important;
  }
  .carousel-indicators [data-bs-target] {
    width: 20px !important;
  }
}
@media (max-width: 910px) {
  .strParent__items {
    height: 150px !important;
  }
  .strParent__items h4 {
    font-size: 16px !important;
  }
  .containerr {
    width: 85%;
  }
  .flexParent__items {
    width: 299px;
    height: 289px;
  }
  .flexParent__items-bottom-desc {
    line-height: 16px;
  }
  .slider {
    width: 95% !important;
  }
  .contentSlider__items {
    width: calc(100% - 50px) !important;
    margin: 0 auto;
  }
}
@media (max-width: 740px) {
  .strParent__items {
    height: 140px !important;
    width: 100% !important;
  }
  .containerr {
    width: 85%;
  }
  .flexParent__items {
    width: 269px;
    height: 259px;
  }
  .flexParent__items-bottom-desc {
    line-height: 16px;
  }
  .slider {
    width: 95% !important;
  }
  .contentSlider__items {
    width: calc(100% - 0px) !important;
    margin: 0 auto;
  }
}
@media (max-width: 715px) {
  .strParent__items {
    height: 135px !important;
  }
  .header {
    height: 9.6vmin;
  }
  .lastItems {
    width: calc((10vh + 10vw) * 2.7);
    height: calc((10vh + 10vw) * 1.5);
  }
  .lastItems > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flexParent__items {
    width: 249px;
    height: 239px;
  }
  .flexParent__items-bottom-desc {
    font-size: 12px;
  }
  .flexParent__items-bottom > span > p {
    line-height: 2.54vmin;
    font-size: calc((1vh + 1vw) * 0.77) !important;
  }
  .carousel-indicators [data-bs-target] {
    width: 10px !important;
    margin-bottom: -10px;
  }
}
@media (max-width: 620px) {
  .slick-arrow {
    width: 22px !important;
    height: 34px !important;
  }
  .strParent__items {
    height: 130px !important;
  }
  .flexParent {
    gap: 20px;
  }
  .flexParent__items {
    width: 229px;
    height: 219px;
  }
  .flexParent__items-bottom-desc {
    font-size: 10.2px;
    line-height: 9px;
  }
  .lastItems {
    width: calc((10vh + 10vw) * 2.2);
    height: calc((10vh + 10vw) * 1.4);
  }
  .lastItems > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px !important;
    height: 30px !important;
  }
}
@media (max-width: 570px) {
  .strParent__items {
    height: 125px !important;
  }
  .flexParent__items {
    width: 199px;
    height: 185px;
  }
}
@media (max-width: 495px) {
  .strParent__items {
    height: 115px !important;
  }
  .flexParent__items {
    width: 179px;
    height: 194px;
  }
}
@media (max-width: 445px) {
  .flexParent__items {
    width: 139px;
    height: 144px;
  }
  .flexParent__items-bottom-desc {
    font-size: 7.3px;
    line-height: 6.5px;
  }
}
@media (max-width: 380px) {
  .flexParent__items {
    width: 129px;
    height: 134px;
  }
  .flexParent__items-bottom-desc {
    font-size: calc((1vh + 1vw) * 0.57) !important;
  }
}
@media (max-width: 335px) {
  .flexParent__items {
    width: 129px;
    height: 134px;
  }
  .flexParent__items-bottom-desc {
    font-size: calc((1vh + 1vw) * 0.57) !important;
  }
}
.befores::before {
  width: 57vmin;
  height: 57vmin;
  background-color: rgba(83, 207, 252, 0.1411764706) !important;
  box-shadow: 0px 0px 45px 34px rgba(83, 207, 252, 0.1411764706) !important;
}/*# sourceMappingURL=main.css.map */