* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    ;
}
a{
    font-size: calc((1vh + 1vw) * 0.6);
    color: inherit;
    text-decoration: none !important;
}

.img_none{
    display: none;
}
.img_gray{
    filter: grayscale(1);
}
.for_downes{
    position: fixed;
    z-index: 10;
}
.editPanel_show{
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;top: 50px;
    right: 50px;
}
.editPanel_show.active{
    display: flex;
}
.editorBtn{
    border: none;
    background-color: transparent;
}
.body_bg_btn{
    padding: 0.375rem 0.75rem;
}
.editPanel{
    position: fixed;
    display: none;
    background-color: rgb(240, 240, 240);
    top: 0;
    width: 100%;
    padding: 10px;
    justify-content: center;
    gap: 30px;
}
.editPanel.active{
    display: flex;
}
.editPanel .block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.editPanel .block button{
    margin: 4px;
}
.editPanel .block h4{
    width: 100%;
    text-align: center;
}
.editorSettingsBG{
    z-index: 100;
    top: 0;left: 0; 
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.305);
}
.editorSettingsBG.active{
    display: flex;
}
.editorSettings{
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    padding: 20px 20px 50px;
    background-color: white;
}
.editorSettings .block{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.body_bg_btn_1{
    background-color: #fff!important;
    color: #000!important;
}
.body_bg_btn_2{
    background-color: #000!important;
    color: #fff!important;

}
.body_bg_btn_3{
    background-color: #9dd1ff!important;
    color: #063462!important;
}
.body_bg_btn_4{
    background-color: #f7f3d6!important;
    color: #4d4b43!important;
}
.body_bg_btn_5{
    background-color: #3b2716!important;
    color: #a9e44d!important;
}
.header__menu-nav{
    display: flex;
    gap: 10px;
}
.lang_button{
    border: 0;
    width: calc((20vh + 15vw) * 0.08);
    height: calc((15vh + 10vw) * 0.08);
    outline: none;
}
.lang_button-nav{
    width: 24px;
    height: 24px;
}
.lang_button img{
    width: 100% !important;
    height: 100% !important;
  }
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal-adilet {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 66px;
    z-index: 2;
    cursor: pointer;
    color: #000;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
}
.slick-list{
    width: 80%;
    margin: 0 15px !important;
  }
  .news_slider {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .slick-arrow{
    font-size: 0;
    width: 36px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
    opacity: .5;
    transition: opacity .5s;
  }
  .slick-arrow:hover{
      opacity: 1;
    }
.slick-disabled{
    opacity: .1;
    transition: all .5s;

}
.slick-disabled:hover{
    opacity: .1;
    cursor: not-allowed !important;
}
  .slick-next{
    background-image: url("../allimages/Vector-r.png");
  }
  .slick-prev{
    background-image: url("../allimages/Vector-l.png");
  }
$mainBlue: #538FFC;
$mainGray: #888888;
$texts: calc(1vh + 1vw);
$blocks: calc(10vh + 10vw);

.slider_title_text{
    font-size: calc((1vh + 2.5vw) * 0.8) !important;
}
.flexParent__items-bottom-desc{
    font-size: calc((1vh + 1.3vw) * 0.8) !important;

}
body {
    background-color: #fdfeff !important;
}

.slider__item {
    width: 200px;
    height: 200px;
    margin: 10px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    cursor: grab;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    display: flex;
    overflow-x: scroll;
    margin: 2vmin auto;
    max-width: 92.3%;
    margin-left: 3% !important;
}

a {
    font-size: calc($texts * .6);
}



.gl {
    width: 90% !important;

    >img {
        margin-bottom: 2%;
    }
}

.header {
    height: 8.6vmin;
    padding: 10px calc($blocks / 10);
    width: 98%;
    position: fixed;
    left: 1%;
    z-index: 10;
    top: 1%;
    background-color: #1010108b;
    backdrop-filter: blur(12px);
    border-radius: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    &.active{
        top: 11%;
    }
    &__menu {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 2px;
        height: 100%;

        #pagelinkBtn {
            outline: none;
            white-space: nowrap;
            cursor: pointer;
            border: solid 1px $mainBlue;
            border-radius: 5px;
            padding: 1.3vmin 2.8vmin;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            position: relative;

            &:focus {
                border: solid 1px #538FFC;
                color: $mainBlue;
            }

            a {
                text-decoration: none;
                color: $mainBlue;
            }

            img {
                width: 10px;
                height: 6px;
            }
        }

        &-links {
            border-radius: 7px;
            // padding: calc($texts * .5) calc($texts * .6);
            padding: 1% 2vmin;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            text-decoration: none;
            color: #fff;
            transition: all .7s;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            border: solid 1px #00000000;

            &:after {
                position: absolute;
                transition: .8s;
                content: '';
                display: block;
                width: 24px;
                transform: skew(-36deg) translateX(-190px);
                height: 100%;
                background-color: #fafafa21;

            }

            &:hover::after {
                transform: skew(-36deg) translateX(170px);

            }

            &:hover {
                border: solid 1px #538FFC;
                color: $mainBlue;
            }

            &:focus {
                border: solid 1px #538FFC;
                color: $mainBlue;
            }

            img {
                width: 10px;
                height: 6px;
            }
        }

        &-search {
            margin-left: 11px;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            border-bottom: solid 1px #fff;
            height: 60%;
            gap: .5vw;

            img {
                width: calc($blocks * .07);
                height: calc($blocks * .08);
                object-fit: contain;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                height: 100%;
                background-color: transparent;
                color: #fff;
            }
        }

    }

    .socials {
        gap: calc($blocks / 12);
        width: max-content;
        align-items: center;

        img {
            width: calc($blocks * .08);
            height: calc($blocks * .08);
        }

        &__span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .vector {
                width: 10px !important;
                height: 7px !important;
            }
        }
    }
}

#app {
    cursor: pointer;
    position: relative;
    display: block;
    font-size: calc($texts *.66);

    &::after {
        display: none;
        top: 0;
        position: absolute;
    }
    overflow: visible;
}
#app2{
    cursor: pointer;
    position: relative;
    display: block;
    font-size: calc($texts *.66);

    &::after {
        display: none;
        top: 0;
        position: absolute;
    }
    overflow: visible;
}
.apparat {
    box-shadow: 0px 0px 6px #00000029;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    left: 0;
    top: 8vmin;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    justify-content: space-between;

    >a {
        font-size: calc($texts);
        margin: 3px 0;
        padding: 6px 10px;
        border-radius: 6px;
        box-shadow: 0px 0px 6px #00000029;
        text-decoration: none;
        color: #000;
        transition: all .4s;

        &:hover {
            color: #538FFC;
        }
    }
}

.apparat__acitve {
    display: flex;
}
.apparat2__active {
    display: flex !important;
}


.banner {
    height: 50vmin;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../allimages/Banner.png);
    display: flex;
    align-items: center;
    justify-content: center;
    >#datetime{
        font-size:calc((1vh + 1vw) * 1.3);
        color: #f4f4f4;
        text-transform: capitalize;
    }
}

.fixedNav {
    box-shadow: 0px 0px 33px #00000047;
    display: none;
    position: fixed;
    width: 40vmin;
    // display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: .8vmin;
    background-color: #fafafa;
    padding: 16px 16px;
    top: 11.3vmin;
    left: 1.6%;
    border-radius: 8px;
    transition: .5s all;
    z-index: 20;
    opacity: 0;

    a {
        font-weight: 600;
        color: #000 !important;
        padding: 10px 16px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        transition: all .6s;
        align-items: center;
        border: solid 1px #c0c0c06e;
        box-shadow: 0px 0px 5px #c0c0c06e;
        letter-spacing: .4px;

        &:hover {
            color: $mainBlue !important;
            background-color: #f4f4f4;
        }

        &:hover img {
            opacity: 1;
        }

        img {
            opacity: 0;
            transition: all .6s;

        }
    }

}

.fixedNav__avtive {
    opacity: 1 !important;
    display: flex;
    animation: fixedNav 1s ease;

    @keyframes fixedNav {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

#oso{
    cursor: pointer;
    border-radius: 7px;
    // padding: calc($texts * .5) calc($texts * .6);
    padding: 1% 2vmin;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    color: #fff;
    transition: all .7s;
    border-radius: 6px;
    position: relative;
    border: solid 1px #00000000;

    

    &:hover {
        border: solid 1px #538FFC;
        color: $mainBlue;
    }
    img {
        width: 10px;
        height: 6px;
    }
}
.apparat2{
    box-shadow: 0px 0px 6px #00000029;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    left: 0;
    top: 7.7vmin;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    justify-content: space-between;

    >a {
        font-size: calc($texts);
        margin: 3px 0;
        padding: 6px 10px;
        border-radius: 6px;
        box-shadow: 0px 0px 6px #00000029;
        text-decoration: none;
        color: #000;
        transition: all .4s;

        &:hover {
            color: #538FFC;
        }
    }
}

#oso_burger {
    border-radius: 7px;
    // padding: calc($texts * .5) calc($texts * .6);
    padding: 1% 2vmin;
    text-align: left !important;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    color: #fff;
    transition: all .7s;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    border: solid 1px #00000000;

    &:after {
        position: absolute;
        transition: .8s;
        content: '';
        display: block;
        width: 24px;
        transform: skew(-36deg) translateX(-190px);
        height: 100%;
        background-color: #fafafa21;

    }

    &:hover::after {
        transform: skew(-36deg) translateX(170px);

    }

    &:hover {
        border: solid 1px #538FFC;
        color: $mainBlue;
    }

    &:focus {
        border: solid 1px #538FFC;
        color: $mainBlue;
    }

    img {
        width: 10px;
        height: 6px;
    }
}


.burgerMenu {
    top: 0;
    transition: all .3s;
    transform: translateX(-110%);
    height: 100vh;
    width: fit-content;
    background-color: #00000081;
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 11;
    padding: 10% 5% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vmin;

    >a {
        text-align: left !important;
        width: 70%;
        display: block;
        position: relative;
        width: 100%;
        &:after {
            position: absolute;
            transition: .8s;
            content: '';
            display: block;
            top: 0;
            width: 24px;
            transform: skew(-36deg) translateX(-190px);
            height: 100%;
            background-color: #fafafa21;
        }

        &:hover::after {
            transform: skew(-36deg) translateX(270px);

        }

    }
}
.burgerMenu__active{
    transform: translateX(0%);
}
.burger__btn{
    display: none;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    gap: 5px;
    >span{
        position: absolute;
        transition: .5s all;
        width: 25px;
        height: 1.5px;
        border-radius: 5px;
        background-color: #fff;
        display: block;
    }
    .one{
        transform: translateY(-5px);
    }
    .three{
        transform: translateY(5px);
    }
    .top_span{
        transform:rotate(45deg);
    }  
    .m_span{
        opacity: 0;
    }  
    .b_span{
        transform:rotate(-45deg);
    }    
}
// ACARDION
.accordionbek {
    width: 100%;
  }
  
  .accordion-itembek {
    margin-bottom: 5px;
  }
  
  .accordion-headerbek {
    padding: 1% 2vmin;
    color: #fff;
    background-color: transparent !important;
    transition: all .7s;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    border: solid 1px #00000000;

    &:after {
        position: absolute;
        transition: .8s;
        content: '';
        display: block;
        width: 24px;
        transform: skew(-36deg) translateX(-190px);
        height: 100%;
        background-color: #fafafa21;

    }

    &:hover::after {
        transform: skew(-36deg) translateX(170px);

    }

    &:hover {
        border: solid 1px #538FFC;
        color: $mainBlue;
    }

    cursor: pointer;
    >img{
        margin-left: 10px;
        width: 10px;
        height: 7px;
    }
  }
  
  .accordion-contentbek {
    padding: 1% 2vmin;
    transition: all .5s;
    display: none;
    color: #fff;
    >a{
        display: block;
        margin: 2vmin;
        color: #fff;
        text-decoration: none;
        transition: all .5s;
        &:hover{
            color: #538FFC;
        }
    }
    
  }
// ACARDION
@media (max-width:955px) {
    a {
        font-size: calc($texts * .86) !important;
    }
    .accordion-headerbek{
        font-size: calc($texts * .86) !important;
    }
    .adaps{
        display: none !important;
    }
    #oso{
        display: none;
    }
    .burger__btn{
        display: block;
    }
}
.socials_b {
    margin-top: 30px;
    height: fit-content !important;
    display: flex;
    >img {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }

    >span {
        margin-left: 10px;
        width: 100%;
        justify-content: center;
        .vector{
            width: 10px;
            height: 6px;
        }
        >img {
            width: 20px;;
            height: 16px;
        }
    }
}



.containerr {
    width: 80%;
    margin: 0 auto;
    height: fit-content !important;
}

.titles {
    z-index: -3;
    margin: 4vmin;
    font-weight: 500;
    position: relative;
    font-size: calc($texts * 1.3);
}

.titles::before {
    content: '';
    display: block;
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    left: -25%;
    top: -27vmin;
    border-radius: 100%;
    z-index: -2;
    background-color: #53cffc24;
    box-shadow: inset 0px 0px 45px 34px #fff;
}


.carousel-control-next-icon {
    // border-radius: 5px;
    // color: #000 !important;
    // background-color: #000000b4 !important;
    filter: invert(1);
    height: 60px !important;
    width: 30px !important;
    background-size: cover !important;
}

.carousel-control-prev-icon {
    // border-radius: 5px;
    // color: #000 !important;
    // background-color: #000000b4 !important;
    filter: invert(1);
    height: 60px !important;
    width: 30px !important;
    background-size: cover !important;
}

.contentSlider__items {
    width: calc(100% - 150px) !important;
    margin: 0 auto;
}

.borderBtn.active {
    height: 5px !important;
    margin: -1px auto 0;

    border-radius: 50px !important;
}

.carousel-indicators [data-bs-target] {
    border-bottom: none !important;
    border-top: none !important;

}

.contentSlider {
    width: 100%;
    height: 87 vmin;
    padding: 0 12vmin 6vmin 12vmin;

    &__items {
        width: 100%;
        height: 100%;

        &-top {
            width: 100%;
            height: 83% !important;
            padding: 4px 0;
            display: flex;
            gap: 2vmin;

            .items-big {
                border-radius: 7px;
                width: 100%;
                background-color: transparent;
                object-fit: contain;
                height: 60vmin !important;
            }

            .items-small {
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2vmin;

                >img {
                    border-radius: 5px;
                    width: 100%;
                    height: 48.6%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        &-bottom {
            width: 100%;
            height: 10%;
            padding: 4px 0;
            font-size: calc($texts * .8);
        }

        &-date {
            color: #888888;
            font-size: calc($texts *1);
        }
    }
}

.datesBlue {
    color: #538FFC !important;
}

.borderBtn {
    background-color: #538FFC !important;
}

.active {
    border-radius: 3px !important;
}

.sliderrr {
    z-index: 1 !important;
}

.flexParent {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    max-width: 100%;

    &__items {
        width: 322px;
        height: 307px;

        >img {
            width: 100%;
            height: 70%;
            border-radius: 5px;
            object-fit: cover;
        }

        &-bottom {
            margin-top: 15px;
            height: 30%;
            width: 100%;
            display: flex;
            gap: 15px;
            flex-direction: column;
            >span {
                display: flex;
                width: 15%;
                align-items: center;
                gap: 10px;
                >p {
                    margin: 0 !important;
                    color: #888888;
                }

            }

            &-desc {
                font-weight: 600;
                margin: 0 !important;
                line-height: 14px;
                // font-size: calc($texts * .55);
                transition: .4s;

                &:hover {
                    color: #538FFC;
                }

            }
        }
    }
}

.lastItems {
    width: calc($blocks * 3);
    height: calc($blocks * 1.8);

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.itemsLinks {
    text-align: left !important;
    width: 250px;
    height: fit-content !important;
    padding-left: 10px;
    border-left: .1px solid $mainBlue;

    >h2 {
        white-space: inherit;
        font-size: calc($texts*.9);
    }

    &__linksBase {
        margin-bottom: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;

        >img {
            margin-right: 7px;
            width: calc($blocks * .15);
        }

        &:hover {
            text-decoration: underline;
        }
    }

}

.manager{
    margin: 0 5vmin;
    margin-top: 15vmin;
    >.name>h1{
        text-align: center;
    }
}
.search_text{
    text-align: center;
    margin-bottom: 2vmin !important;
    margin-top: 15vmin;
}
.rukovod{
    margin-top: 15vmin;
    &__items{
        // width: 386px !important;
        border: solid 1px #00000019;
        box-shadow: 0px 0px 22px #00000019 ;
        border-radius: 10px;
        padding: 2vmin;
        transition:all .5s;
        height: fit-content !important;
        &:hover{
            transform: scale(1.025);
            box-shadow: 0px 0px 42px #00000019 ;

        }
        h3 > a{
            font-size: calc($texts * 1.2) !important;
            margin-top: 7px;
            text-transform: capitalize  ;
        }
        >b{
            color: #538FFC;
            font-size: calc($texts * .7);

        }
        >a{
            font-size: calc($texts * .6);
            margin-top: 6px;
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 13px;
            color: #000;
            >img{
                width: calc($texts * 1);
            }
        }
    }
}

.strParent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    &__items{
        height: 170px;
        width: 48%;
        min-width: 300px;
        border-radius: 12px;
        box-shadow: 0px 0px 22px #0000001d;
        padding: 1.5%;
        display: flex;
        gap: 2vmin;
        align-items: center;
        transition: .6s all;
        &:hover{
            box-shadow: 0px 0px 44px #79a3f2a9;
        }
        >img{
            height: 100%;
        }
        >span{
            width: 1px;
            height: 80%;
            background-color: #000;
        }
        h4{
            font-size: calc($texts * 1);
            >a{
                color: #00000075;
                text-decoration: none;
                font-weight: 800;
                font-size: calc($texts * .8) !important;

            }
        }
    }
}
#serach {
    padding: 0 !important;
}

.choon {
    width: calc($blocks * .23) !important;
}

.footer {
    position: relative;
    background-color: #f8faff;
    box-shadow: 0px 0px 33px #00000015;
    margin-top: 5%;
    padding: 5vmin 0 0;

    .fot{
        position: absolute;
        height: 16vmax;
        top: 0;
        left: 6%;

    }

    .footerItems {
        padding: 0 !important;
        position: relative;
        border: none !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: .8vmin;
        >h5{
            margin-top: 15px;
            font-size: calc($texts * .7);
        }
        >p{
            display: flex;
            align-items: center;
            gap: 15px;
            >img{
                position: static;
                width: 5vmin;
            }
        }
        &__links {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.newsTitile{
    position: relative;
    width: 85%;
    margin: 15vmin auto 3vmin auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    &__date{
        display: flex;
        align-items: center;
        gap: 0 5px;
        >h2{
            color: $mainBlue;
            margin: 0;
            font-weight: 600;
            font-size: calc($texts * 1);
        }
        >h3{
            color: #888888;
            margin: 0;
            font-size: calc($texts * 1);
        }
    }
    >span{
        display: block;
        height: calc((1vh + 1vw) * 1);
        width: 2px;
        background-color: #000;
    }
    >h4{
        font-size: calc($texts * 1);
        margin: 0;
        word-break: break-all;
    }
}
.newsDesc{
    font-size: calc($texts * .8);
    padding: 0 50px;
    >p{
        font-size: calc($texts * 1.4) !important;
        word-break: break-all   ;
    }
}
.maps{
    width: 100%;
    height: 90vmin;
}
.slick-slider {
    display: flex;
}
.newsTitile-image{
    width: 100%;
    height: 55vmin !important;
    object-fit: cover;
}
.itPark {
    width: 50%!important;
    position: static !important;
    text-decoration: none !important;
}

.it {
    text-decoration: none !important;
    font-size: calc($texts * .9) !important;
    font-weight: 900;
    color: #fafafa;
    text-shadow: 0px 0px 11px #000000d2;
}

.park {
    color: rgb(255, 234, 0);
    text-shadow: 0px 0px 11px #000000d2;

}

.copyright {
    text-align: center;
    border-top: solid 2px rgba(192, 192, 192, 0.7);
    padding: 2vmin;
    margin-top: 2%;
    background-color: #fff;
    font-size: calc($texts * .6);
}

.gap {
    gap: 1vmin !important;
}

.pt50 {
    margin-top: 11%;
}

@media (min-width:2453px) and (max-width:3000px) {
    .flexParent {
        &__items {
            width: 622px;
            height: 607px;

            &-bottom {
                >span {
                    b {
                        font-size: 2em;
                    }

                    p {
                        font-size: 1.6em
                    }
                }

                &-desc {
                    font-size: 2em;
                    line-height: 30px;
                }
            }
        }
    }

    .itemsLinks {
        >h2 {
            font-size: 2.5em !important;
        }

        width: 355px !important;

        &__linksBase {
            font-size: 1.7em;
            line-height: 36px;
            white-space: wrap;
        }
    }

    .gap {
        gap: 100px !important;
    }
}

@media (min-width:2265px) and (max-width:2453px) {
    .flexParent {
        &__items {
            width: 572px;
            height: 567px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.9em;
                    line-height: 30px;
                }
            }
        }
    }

    .itemsLinks {
        width: 350px !important;

        &__linksBase {
            line-height: 36px;
        }
    }

    .gap {
        gap: 90px !important;
    }
}

@media (min-width:2117px) and (max-width:2265px) {
    .flexParent {
        &__items {
            width: 532px;
            height: 527px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.6em;
                    line-height: 30px;
                }
            }
        }
    }

    .itemsLinks {
        width: 350px !important;

        &__linksBase {
            line-height: 30px;
        }
    }

    .gap {
        gap: 90px !important;
    }
}

@media (min-width:2000px) and (max-width:2117px) {
    .flexParent {
        &__items {
            width: 502px;
            height: 497px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.4em;
                    line-height: 30px;
                }
            }
        }
    }

    .itemsLinks {
        width: 320px !important;

        &__linksBase {
            line-height: 28px;
        }
    }

    .gap {
        gap: 70px !important;
    }
}

@media (min-width:1883px) and (max-width:2000px) {
    .flexParent {
        &__items {
            width: 472px;
            height: 467px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.4em;
                    line-height: 24px;
                }
            }
        }
    }

    .itemsLinks {
        width: 290px !important;

        >h2 {
            font-size: 2.2em !important;
        }

        &__linksBase {
            font-size: 1.6em !important;
            line-height: 28px;
        }
    }

    .gap {
        gap: 50px !important;
    }
}

@media (min-width:1787px) and (max-width:1883px) {
    .flexParent {
        &__items {
            width: 432px;
            height: 427px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.3em;
                    line-height: 30px;
                    line-height: 22px;
                }
            }
        }
    }

    .itemsLinks {
        width: 270px !important;

        >h2 {
            font-size: 2em !important;
        }

        &__linksBase {
            font-size: 1.6em !important;
            line-height: 25px;
        }
    }

    .gap {
        gap: 60px !important;
    }
}

@media (min-width:1687px) and (max-width:1787px) {
    .flexParent {
        &__items {
            width: 402px;
            height: 397px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.2em;
                    line-height: 20px !important;
                }
            }
        }
    }

    .itemsLinks {
        width: 240px !important;

        >h2 {
            font-size: 1.8em !important;
        }

        &__linksBase {
            font-size: 1.3em !important;
            line-height: 25px;
        }
    }

    .gap {
        gap: 50px !important;
    }
}

@media (min-width:1587px) and (max-width:1687px) {
    .flexParent {
        &__items {
            width: 372px;
            height: 367px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        line-height: 24px;
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1.1em;
                    line-height: 22px;
                }
            }
        }
    }

    .itemsLinks {
        width: 210px !important;

        >h2 {
            font-size: 1.6em !important;
        }

        &__linksBase {
            font-size: 1.1em !important;
            line-height: 22px;
        }
    }

    .gap {
        gap: 44px !important;
    }
}

@media (min-width:1500px) and (max-width:1587px) {
    .flexParent {
        &__items {
            width: 342px;
            height: 337px;

            &-bottom {
                >span {
                    b {
                        font-size: 1.6em;
                    }

                    p {
                        line-height: 24px;
                        font-size: 1.4em
                    }
                }

                &-desc {
                    font-size: 1em;
                    line-height: 19px;
                }
            }
        }
    }

    .itemsLinks {
        width: 210px !important;

        >h2 {
            font-size: 1.6em !important;
        }

        &__linksBase {
            font-size: 1.1em !important;
            line-height: 22px;
        }
    }

    .gap {
        gap: 44px !important;
    }
}

@media (max-width:1500px) {
    .containerr {
        width: 1270px;
    }
    .socials{
        display: none;
    }
}

@media (max-width:1276px) {
    .strParent__items{
        height: 165px !important;
    }
    .containerr {
        width: 1100px;
    }

    .flexParent__items {
        width: 299px;
        height: 289px;
    }

    .itemsLinks {
        width: 230px;
    }
}

@media (max-width:1100px) {
    .strParent__items{
        height: 160px !important;
    }
    .containerr {
        width: 890px;
    }

    .flexParent {
        gap: 30px;
    }

    .flexParent__items-bottom-desc {
        font-size: .8em;
        line-height: 12px;
    }

    .flexParent__items {
        width: 247px;
        height: 237px;
    }

    .itemsLinks {
        width: 199px;

        &__linksBase {
            white-space: wrap;
            font-size: .8em;
        }
    }

    // .contentSlider__items-top, .contentSlider__items-bottom, .contentSlider__items-date{
    //     width: calc(100% - 100px) !important;
    // }
    .contentSlider__items {
        width: calc(100% - 100px) !important;
        margin: 0 auto;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px !important;
        height: 40px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 20px !important;
    }
}

@media (max-width:910px) {
    .strParent__items{
        height: 150px !important;
        h4{
            font-size: 16px !important;
        }
    }
    .containerr {
        width: 85%;
    }

    .flexParent__items {
        width: 299px;
        height: 289px;
    }

    .flexParent__items-bottom-desc {
        line-height: 16px;
    }

    .slider {
        width: 95% !important;
    }

    .contentSlider__items {
        width: calc(100% - 50px) !important;
        margin: 0 auto;
    }
}

@media (max-width:740px) {
    .strParent__items{
        height: 140px !important;
       width: 100% !important;
    }
    .containerr {
        width: 85%;
    }

    .flexParent__items {
        width: 269px;
        height: 259px;
    }

    .flexParent__items-bottom-desc {
        line-height: 16px;
    }

    .slider {
        width: 95% !important;
    }

    .contentSlider__items {
        width: calc(100% - 0px) !important;
        margin: 0 auto;
    }
}

@media (max-width:715px) {
      .strParent__items{
        height: 135px !important;
    }
    .header {
        height: 9.6vmin;
    }
    .lastItems {
        width: calc($blocks * 2.7);
        height: calc($blocks * 1.5);

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .flexParent__items {
        width: 249px;
        height: 239px;

        &-bottom {
            &-desc {
                font-size: 12px;
            }

            >span {
                >p {
                    line-height: 2.54vmin;
                    font-size: calc($texts * .77) !important;
                }
            }
        }
    }

    .carousel-indicators [data-bs-target] {
        width: 10px !important;
        margin-bottom: -10px;
    }
}

@media (max-width:620px) {
    .slick-arrow{
        width: 22px !important;
        height: 34px !important;
      }
    .strParent__items{
        height: 130px !important;
    }
    .flexParent {
        gap: 20px;
    }

    .flexParent__items {
        width: 229px;
        height: 219px;

        &-bottom {
            &-desc {
                font-size: 10.2px;
                line-height: 9px;
            }
        }
    }

    .lastItems {
        width: calc($blocks * 2.2);
        height: calc($blocks * 1.4);

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 15px !important;
        height: 30px !important;
    }

}

@media (max-width:570px) {
    .strParent__items{
        height: 125px !important;
    }
    .flexParent__items {
        width: 199px;
        height: 185px;
    }
}

@media (max-width:495px) {
    .strParent__items{
        height: 115px !important;
    }
    .flexParent__items {
        width: 179px;
        height: 194px;
    }
}

@media (max-width:445px) {
    .flexParent__items {
        width: 139px;
        height: 144px;

        &-bottom {
            &-desc {
                font-size: 7.3px;
                line-height: 6.5px;
            }
        }
    }
}

@media (max-width:380px) {
    .flexParent__items {
        width: 129px;
        height: 134px;

        &-bottom {
            &-desc {
                font-size: calc($texts * .57) !important;

            }
        }
    }
}

@media (max-width:335px) {
    .flexParent__items {
        width: 129px;
        height: 134px;

        &-bottom {
            &-desc {
                font-size: calc($texts * .57) !important;

            }
        }
    }
}


.befores::before {
    width: 57vmin;
    height: 57vmin;
    background-color: #53cffc24 !important;
    box-shadow: 0px 0px 45px 34px #53cffc24 !important;
}


